/cdt.testrunner
/cdt.testrunner.cpputest
/cpputest
/cpputest33
/cpputest34
/cpputest35
/cpputest.github.io
/CppUTestEclipsePlugin
/gtest-*
/out
*.eap
*.exe
*.depend
*.layout
*.stackdump
